{% extends "bootstrap/base.html" %}

{% block title %}COVID-19 Knowledgebase{% endblock %}

{% block navbar %}
<div class="navbar">
    DB Manager, stay safe!
</div>
{% endblock %}

{% block content  %}
<form method="POST" action="/api/v1/add" class="d-flex flex-column justify-content-center m-5">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="question">Question</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="question"
                    id="question"/>
        </div>
    </div>

    <div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="category">Category</label>
            <div class="col-sm-10">
                <select
                        id="category"
                        class="form-control"
                        name="category">
                    {% for category in categories %}
                    <option value="{{category}}">{{category}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="countries">Countries</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="countries"
                    id="countries"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="answer">Answer</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="answer"
                    id="answer"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="links">Links</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="links"
                    id="links"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="additional_answers">Additional answer</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="additional_answers"
                    id="additional_answers"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="additional_links">Additional links</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="additional_links"
                    id="additional_links"/>
        </div>
    </div>

    <div class="text-right">
        <input
                class="btn btn-danger mr-2"
                type="reset"
                value="Reset"/>
        <input
                class="btn btn-primary"
                type="submit"
                value="Add"/>
    </div>
</form>

<table>
    <tr>
        <th>question</th>
        <th>category</th>
        <th>countries</th>
        <th>answer</th>
        <th>links</th>
        <th>additional answers</th>
        <th>additional links</th>
        <th>date created</th>
        <th>action</th>
    </tr>
    {% for knowledge in all_data %}
    <tr>
        <td>{{ knowledge.question }}</td>
        <td>{{ knowledge.category }}</td>
        <td>{{ knowledge.countries }}</td>
        <td>{{ knowledge.answer }}</td>
        <td>{{ knowledge.links }}</td>
        <td>{{ knowledge.additional_answers }}</td>
        <td>{{ knowledge.additional_links }}</td>
        <td>{{ knowledge.date_created.date() }}</td>
        <td>
            <a href="/delete/{{knowledge.id}}">Delete</a>
            <br>
            <a href="/update/{{knowledge.id}}">Update</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}