{% extends "bootstrap/base.html" %}

{% block title %}COVID-19 Knowledgebase{% endblock %}

{% block navbar %}
<div class="navbar">
    DB Manager, stay safe!
</div>
{% endblock %}

{% block content  %}
<form method="POST" action="/api/add" class="d-flex flex-column justify-content-center m-5">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="question">Question</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="question"
                    id="question"/>
        </div>
    </div>

    <div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="category">Category</label>
            <div class="col-sm-10">
                <select
                        id="category"
                        class="form-control"
                        name="category">
                    {% for category in categories %}
                    <option value="{{category}}">{{category}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="countries">Countries</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="countries"
                    id="countries"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="answer">Answer</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="answer"
                    id="answer"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="links">Links</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="links"
                    id="links"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="additionalAnswers">Additional answer</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="additionalAnswers"
                    id="additionalAnswers"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="additionalLinks">Additional links</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="additionalLinks"
                    id="additionalLinks"/>
        </div>
    </div>

    <div class="text-right">
        <input
                class="btn btn-danger mr-2"
                type="reset"
                value="Reset"/>
        <input
                class="btn btn-primary"
                type="submit"
                value="Add"/>
    </div>
</form>

{% for knowledge in all_data %}
<table>
    <tr>
        <th>question</th>
        <th>category</th>
        <th>countries</th>
        <th>answer</th>
        <th>links</th>
        <th>additionalAnswers</th>
        <th>additionalLinks</th>
        <th>dateCreated</th>
        <th>action</th>
    </tr>
    <tr>
        <td>{{ knowledge.question }}</td>
        <td>{{ knowledge.category }}</td>
        <td>{{ ';'.join(knowledge.countries) }}</td>
        <td>{{ knowledge.answer }}</td>
        <td>{{ ';'.join(knowledge.links) }}</td>
        <td>{{ ';'.join(knowledge.additionalAnswers) }}</td>
        <td>{{ ';'.join(knowledge.additionalLinks) }}</td>
        <td>{{ knowledge.dateCreated.date() }}</td>
        <td>
            <a href="/delete/{{knowledge.id}}">Delete</a>
            <br>
            <a href="/update/{{knowledge.id}}">Update</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}