{% extends "bootstrap/base.html" %}

{% block title %}COVID-19 | Knowledgebase{% endblock %}

{% block content  %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="container">
    <div class="alert alert-success">
    {% for message in messages %}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<form method="POST" action="{{url_for('dbmanager.add')}}" class="d-flex flex-column justify-content-center m-5 was-validated" >
    {{knowledge_form.hidden_tag()}}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="question">Question</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="question"
                    id="question"/>
        </div>
    </div>

    <div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="category">Category</label>
            <div class="col-sm-10">
                <select
                        id="category"
                        class="form-control"
                        name="category">
                    {% for category in categories %}
                    <option value="{{category}}">{{category}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="countries">Countries</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="countries"
                    id="countries"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="answer">Answer</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="answer"
                    id="answer"
                    required/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="links">Links</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="links"
                    id="links"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="additional_answers">Additional answer</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="additional_answers"
                    id="additional_answers"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="additional_links">Additional links</label>
        <div class="col-sm-10">
            <input
                    class="form-control"
                    type="text"
                    name="additional_links"
                    id="additional_links"/>
        </div>
    </div>

    <div class="text-right">
        <input
                class="btn btn-danger mr-2"
                type="reset"
                value="Reset"/>
        <input
                class="btn btn-primary"
                type="submit"
                value="Add"/>
    </div>
</form>

<table class="table table-striped table-bordered table-hover table-responsive">
    <thead class="thead-dark text-center">
    <tr>
        <th scope="col">Question</th>
        <th scope="col">Category</th>
        <th scope="col">Countries</th>
        <th scope="col">Answer</th>
        <th scope="col">Links</th>
        <th scope="col">Additional answers</th>
        <th scope="col">Additional links</th>
        <th scope="col">Date created</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for knowledge in all_data %}
    <tr>
        <td>{{ knowledge.question }}</td>
        <td>{{ knowledge.category }}</td>
        <td>{{ knowledge.countries }}</td>
        <td>{{ knowledge.answer }}</td>
        <td>
            {% for item in knowledge.splitedLinks %}
            {% if item|length > 20 %}
            <a href="{{ item }}"> {{ item[:20] + '...' }}</a>
            {% else %}
            <a href="{{ item }}"> {{ item }}</a>
            {% endif %}
            {% endfor %}
        </td>
        <td>{{ knowledge.additional_answers }}</td>
        <td>
            {% for item in knowledge.splitedAdditionalLinks %}
            {% if item|length > 20 %}
            <a href="{{ item }}"> {{ item[:20] + '...' }}</a>
            {% else %}
            <a href="{{ item }}"> {{ item }}</a>
            {% endif %}
            {% endfor %}
        </td>
        <td>{{ knowledge.date_created }}</td>
        <td>
            <a href="{{url_for('dbmanager.delete', id=knowledge.id)}}">Delete</a>
            <br>
            <a href="{{url_for('dbmanager.update', id=knowledge.id)}}">Update</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}